
@font-face {
  font-family: 'TrebuchetMS-Italic';
  src: url('TrebuchetMS-Italic.eot?#iefix') format('embedded-opentype'),  url('TrebuchetMS-Italic.woff') format('woff'), url('TrebuchetMS-Italic.ttf')  format('truetype'), url('TrebuchetMS-Italic.svg#TrebuchetMS-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
